
<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
       
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <%= link_to 'Articles', root_path %>
            </li>
          </ul>

         

        </div>
      </div>
    </div>


    <div class="container">
      <!-- Tables
      ================================================== -->
      <div class="bs-docs-section">

        <div class="row">
          <div class="col-lg-12">
          	<br>
            <div class="page-header">
              <h1 id="tables">List of articles from <%= link_to 'news.ycombinator.com', 'http://news.ycombinator.com' %></h1>
              <h3 id="tables">Articles total count: <%= @articles.count %></h1>

            </div>

            <div class="bs-component">
              <table class="table table-striped table-hover ">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Author</th>
                  </tr>
                </thead>
                <tbody>
                <% @articles.try(:each_with_index) do |article| %>
                  <tr class="success">
                    <td><%= link_to article.title.html_safe, article.url %></td>
                    <td><%= article.author %></td>
                  </tr>
                 <% end %>
                </tbody>
              </table> 
              <%= will_paginate @articles, class: "btn btn-default btn-xs", style: "display: block;", id: "source-button" %>
          </div>
        </div>
      </div>
</div>


